.menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    left:20px;
    z-index:1;
    top:100px;
  }

  .menu-box {
    position: relative;
    width: 15vw;
  }
  
  .menu-box img {
    width: 100%;
  }
  
.menu-box p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4vw;
    text-align: center;
}

.menu-link {
    text-decoration: none; 
  }
  
  .menu-box {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .menu-box:hover {
    transform: scale(1.05); 
    cursor: pointer; 
  }
  

  .textbox p {
    color: black;
    text-shadow:  
      2px 2px 0px white,  
      -2px -2px 0px white,  
      -2px 2px 0px white,  
      2px -2px 0px white;  
  }
  .menu-box p {
    color: black;
    font-size: 1.2vw;
    text-align: center;
    text-shadow:  
      2px 2px 0px white,  
      -2px -2px 0px white,  
      -2px 2px 0px white,  
      2px -2px 0px white;  
  }
    