
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Press Start 2P", cursive;
  background-color: #1a1a1a;
  overflow: auto; 
}


.my-pets-container {
  background-color: #1a1a1a;
  background-image: url(./assets/pets_bg.png); 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
}


.my-pets-content {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}


.pet-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center; /* Center grid */
}


.pet-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.pet-item:hover {
  transform: scale(1.05);
}


.pet-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}


.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 2vw;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.my-pets-container .menu-container {
  position: absolute;
  left: 2vw;
  top: 15vh; 
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

