.top-bar {
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    top:0;
    margin-top:10px;
    margin-bottom:30px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.top-bar img {
    height: 5vh;
}

.top-bar h1 {
    font-size: 2vw;
}
  